.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header .label {
    -fx-alignment: CENTER;
    -fx-text-fill: #464950FF;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.table-view .column-header {
    -fx-background-color: transparent;
}




/*CELL COLOR*/

.table-view .table-cell{
    -fx-text-background-color: white;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-padding: 10px;
}

.table-row-cell: odd{
    -fx-background-color: #111214;

    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #222326;
    -fx-padding: 0.0em;
}


.table-view .table-column {
    -fx-alignment: CENTER;
}